<% if @messages.present? %>
  <% @messages.each do |message| %>
    <div id="message" class="<%= current_user?(message.user) ? "my_message" : "other's_message" %>">
      <%= link_to message.user do %>
        <%= image_tag display_avatar(message.user), size: "#{'50' if display_avatar(message.user).is_a?(String) }" %>
      <% end %>
      <div class="message-content"><%= message.content %></div>
      <% if current_user?(message.user) %>
        <%= form_with(model: message, local: false, method: :delete, data: { confirm: '削除してよろしいですか？' }) do |f| %>
          <%= f.hidden_field :room_id, :value => @room.id %>
          <%= f.submit "削除" %>
        <% end %>
      <% end %>
    </div>
  <% end %>
<% else %>
  <h3 class="text-center">メッセージはまだありません</h3>
<% end %>