<ul>
  <% @activities.each do |activity| %>
    <li>
      <% visited = activity.visited %>
      <% case activity.action %>
        <% when 'follow' then %>
          <%= link_to visited.name, user_path(visited) %>さんをフォローしました
        <% when 'like' then %>
          <% if current_user? visited %>
            <p>自分の投稿にいいねしました</p>
          <% else %>
            <%= link_to visited.name, user_path(visited) %>さんの投稿にいいねしました<br>
          <% end %>
          <%= activity.post.impression %>
        <% when 'comment' then %>
          <% if current_user? visited %>
            <p>自分の投稿にコメントしました</p>
          <% else %>
            <%= link_to visited.name, user_path(visited) %>さんの投稿にコメントしました<br>
          <% end %>
          <%= activity.comment.content %>
        <% when 'message' then %>
          <%= link_to visited.name, user_path(visited) %>さんにメッセージを送信しました<br>
          <%= activity.message.content %>
      <% end %>
    </li>
  <% end %>
</ul>

<%= paginate @activities, remote: true %>