<h1>ユーザ詳細</h1>

<% if @user.avatar.attached? %>
  <%= image_tag @user.avatar.variant(resize_to_limit: [50, 50]) %>
<% else %>
  <%= image_tag "default-avatar.png", size: '50' %>
<% end %>

<p>ユーザ名：<%= @user.name %></p>

<%= link_to "編集", edit_user_registration_path %>

<%= pie_chart @pie_chart_data if @pie_chart_data.presence %>

<%= line_chart @line_chart_data.each { |line|
    {name: line[:name], data: line[:data]}
} if @line_chart_data.presence %>

<% if current_user?(@user) %>
  <%= link_to 'プロフィール変更', edit_user_registration_path %>
<% end %>

<div class="stats">
  <a href="<%= following_user_path(@user) %>">
    <strong id="following" class="stat">
      <%= @user.following.count %>
    </strong>
    following
  </a>
  <a href="<%= followers_user_path(@user) %>">
    <strong id="followers" class="stat">
      <%= @user.followers.count %>
    </strong>
    followers
  </a>
</div>

<%= render 'shared/follow_form' if user_signed_in? %>

<% if !current_user?(@user) && user_signed_in? %>
  <% if @is_room == true %>
    <%= link_to "チャットへ", room_path(@room_id) %>
  <% else %>
    <%= form_with(model: @room, local: true) do |f| %>
      <%= fields_for @entry do |e| %>
        <%= e.hidden_field :user_id, value: @user.id %>
      <% end %>
      <%= f.submit "チャットを始める" %>
    <% end %>
  <% end %>
<% end %>

<ul class="myposts">
  <h3>過去の投稿</h3>
  <% @user.posts.each do |mypost| %>
    <li><%= link_to mypost.impression, mypost %></li>
  <% end %>
</ul>

<ul class="likes">
  <h3>お気に入り</h3>
  <% @liking_posts.each do |post| %>
    <li><%= link_to post.impression, post %></li>
  <% end %>
</ul>

