<h1>ユーザ詳細</h1>

<div id="profile">
  <p>ユーザ名：<%= @user.name %></p>
  <%= image_tag display_avatar(@user), size: "#{'50' if display_avatar(@user).is_a?(String) }" %>
  <%= link_to 'プロフィール変更', edit_user_registration_path if current_user?(@user) %>
  <div class="stats">
    <a href="<%= following_user_path(@user) %>">
      <strong id="following" class="stat">
        <%= @user.following.count %>
      </strong>
      following
    </a>
    <a href="<%= followers_user_path(@user) %>">
      <strong id="followers" class="stat">
        <%= @user.followers.count %>
      </strong>
      followers
    </a>
  </div>
  <%= render 'shared/follow_form' if user_signed_in? %>
  <% if !current_user?(@user) && user_signed_in? %>
    <% if @is_room == true %>
      <%= link_to image_tag("mail.svg", alt: "DM", width: "20px"), room_path(@room_id) %>
    <% else %>
      <%= form_with(model: @room, local: true) do |f| %>
        <%= fields_for @entry do |e| %>
          <%= e.hidden_field :user_id, value: @user.id %>
        <% end %>
        <%= image_submit_tag("mail.svg", alt: "DM", width: "20px") %>
      <% end %>
    <% end %>
  <% end %>
</div>

<ul id="archive-tab">
  <li><%= link_to "グラフ", graph_path(id: @user.id, count_or_time: "count"), remote: true, class:"tab-graph tab-active" %></li>
  <li><%= link_to "過去の投稿", myposts_path(id: @user.id), remote: true, class:"tab-myposts" %></li>
  <li><%= link_to "いいね", likes_path(id: @user.id), remote: true, class:"tab-likes" %></li>
</ul>

<div id="archive">
  <%= render 'graph' %>
</div>