<ul>
  <% @posts.each do |post| %>
    <li class="post">
      <%= image_tag display_avatar(post.user), size: "#{'50' if display_avatar(post.user).is_a?(String) }" %>
      <div class="post-right">
        <%= link_to post.user.name, post.user %>
        <%= time_ago_in_words(post.created_at) %>
        <%= link_to post.impression, post, class: "post-impression"%>
      </div>
    </li>
  <% end %>
</ul>

<% if @category.present? %>
  <%= paginate @posts, remote: true %>
<% else %>
  <%= paginate @posts %>
<% end %>