<%= render 'scripts/erase_box' %>

<button class="close-box-btn"><%= image_tag("cross-white.svg", alt: "閉じる", width: "20px") %></button>

<div id="search-content">
  <div id="search-form">
    <%= form_with url: searches_url, method: :get, local: true do |f| %>
      <%= f.text_field :keyword, value: @keyword %>
      <%= image_submit_tag("search-white.svg", alt: "検索", width: "20px") %>
    <% end %>
  </div>

  <h3>ハッシュタグ</h3>
  <div class="hashtags">
    <%= render 'shared/hashtags' %>
  </div>
</div>
