<h1>投稿一覧</h1>

<div id="category-tab">
  <%= link_to "タイムライン", categorized_index_path(name: "timeline"), remote: true if user_signed_in? %>
  <%= link_to "全て", categorized_index_path(name: "all"), remote: true %>
  <% @hashtags.each do |hashtag| %>
    <%= link_to "##{hashtag.name} #{hashtag.posts.count}件", categorized_index_path(name: hashtag.name), remote: true %>
  <% end %>
</div>

<div class="search-form">
  <%= form_with url: search_path, method: :get, local: true do |f| %>
    <%= f.text_field :keyword, value: @keyword %>
    <%= f.submit "検索" %>
  <% end %>
</div>

<div id="categorized-posts">
  <%= render 'categorized_posts' %>
</div>
