<h1>新規投稿</h1>
<button>回数</button>
<button>時間</button>
<%= form_with(model: @post, local: true) do |f| %>
  <%= fields_for :rehabilitation_0 do |r| %>
    <%= r.text_field :name, placeholder: "例）スクワット" %>
    
    <%= r.text_field :time, placeholder: "5" %>
    <%= r.label :minutes %>

    <%= r.text_field :count, placeholder: "30" %>
    <%= r.label :counts %>

    <%= f.hidden_field :number, :value => 0 %>
  <% end %>

  <%= f.text_area :impression, placeholder: "例）頑張りました。" %>

  <%= f.submit "Post", class: "btn btn-primary" %>
<% end %>