<h1>投稿詳細</h1>
<%= link_to @post.user.name, @post.user %>

<% @post.rehabilitation.each do |rehabilitation| %>
  <%= rehabilitation.name %>
  <%= "#{rehabilitation.time} 分" if !rehabilitation.time.blank? %>
  <%= "#{rehabilitation.count} 回" if !rehabilitation.count.blank? %>
<% end %>

<%= @post.impression %>

<%= render 'like_button' %>

<% if current_user?(@post.user) %>
  <%= link_to "delete", post_path(@post.id), method: :delete, data: { confirm: "You sure?" } %>
<% end %>

<div id="comment_form">
  <%= render 'comments/form' %>
</div>

<div id="comment_area">
  <%= render 'comments/comment_area' %>
</div>
