<%= link_to image_tag("arrow.svg", alt: "戻る", width: "20px"), return_to_posts_path %>
<h1>投稿詳細</h1>
<div class="user">
  <% @user = @post.user %>
  <% if @user.avatar.attached? %>
    <%= image_tag @user.avatar.variant(resize_to_limit: [50, 50]) %>
  <% else %>
    <%= image_tag "default-avatar.png", size: '50' %>
  <% end %>

  <%= link_to @user.name, @post.user %>

  <%= render 'shared/follow_form' if user_signed_in? %>
</div>

<div class="post-content">
  <%= impression_with_hashtags(@post.impression) %>

  <ul>
    <% @post.rehabilitations.each do |rehabilitation| %>
      <li>
        <%= rehabilitation.name %>
        <%= "#{rehabilitation.time} 分" if !rehabilitation.time.blank? %>
        <%= "#{rehabilitation.count} 回" if !rehabilitation.count.blank? %>
      </li>
    <% end %>
  </ul>

  <%= time_ago_in_words(@post.created_at) %>

  <% if @post.images.attached? %>
    <% @post.images.each do |image| %>
      <%= image_tag image.variant(resize_to_limit: [500, 500]) %>
    <% end %>
  <% end %>
</div>

<%= render 'likes/like_button' if user_signed_in? %>

<% if current_user?(@post.user) %>
  <%= link_to "削除", post_path(@post.id), method: :delete, data: { confirm: "You sure?" } %>
<% end %>

<div id="comment_form">
  <%= render 'comments/comment_form' if user_signed_in? %>
</div>

<div id="comment_area">
  <%= render 'comments/comment_area' %>
</div>
