<h1>投稿詳細</h1>
<%= link_to @post.user.name, @post.user %>

<% @post.rehabilitations.each do |rehabilitation| %>
  <%= rehabilitation.name %>
  <%= "#{rehabilitation.time} 分" if !rehabilitation.time.blank? %>
  <%= "#{rehabilitation.count} 回" if !rehabilitation.count.blank? %>
<% end %>

<%= @post.impression %>
<% if @post.images.attached? %>
  <% @post.images.each do |image| %>
    <%= image_tag image.variant(resize_to_limit: [500, 500]) %>
  <% end %>
<% end %>

<%= render 'likes/like_button' if user_signed_in? %>

<% if current_user?(@post.user) %>
  <%= link_to "delete", post_path(@post.id), method: :delete, data: { confirm: "You sure?" } %>
<% end %>

<div id="comment_form">
  <%= render 'comments/form' %>
</div>

<div id="comment_area">
  <%= render 'comments/comment_area' %>
</div>
