<h1>投稿詳細</h1>
<%= link_to @post.user.name, @post.user %>

<% @post.rehabilitation.each do |rehabilitation| %>
  <%= rehabilitation.name %>
  <%= "#{rehabilitation.time} 分" if !rehabilitation.time.blank? %>
  <%= "#{rehabilitation.count} 回" if !rehabilitation.count.blank? %>
<% end %>

<%= @post.impression %>

<%= render 'like_button' %>

<% if current_user?(@post.user) %>
  <%= link_to "delete", post_path(@post.id), method: :delete, data: { confirm: "You sure?" } %>
<% end %>

<%= form_with(model: [@post, @comment], local: true) do |f| %>
  <%= f.text_area :content, placeholder: "例）頑張りました。" %>
  <%= f.submit "Comment", class: "btn btn-primary" %>
<% end %>

<h2>コメント一覧</h2>
<ul class="comments">
  <% @comments.each do |comment| %>
    <li>
      <%= link_to comment.user.name, comment.user %>
      <%= comment.content %>
      <% if current_user?(comment.user) %>
        <%= link_to "削除", post_comment_path(comment.post_id, comment.id), method: :delete, data: { confirm: "You sure?" } %>
      <% end %>
    </li>
  <% end %>
</ul>
