<p>Hello <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p><%= @resource.name %>さんのメールアドレスは<%= @resource.unconfirmed_email %>に変更されています。ご確認ください。</p>
<% else %>
  <p><%= @resource.name %>さんのメールアドレスは<%= @resource.email %>に変更されました。ご確認ください。</p>
<% end %>
