<!DOCTYPE html>
<html>
  <head>
    <title>Rehabilis</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <%= link_to image_tag("logo.svg", alt: "ロゴ", width: "200px"), root_path, id: "logo" %>
      <nav>
        <%= link_to 'ユーザー一覧', users_path %>
        <%= link_to 'ハッシュタグ一覧', hashtags_path %>
        <% if user_signed_in? %>
          <%= link_to image_tag(display_avatar(current_user), size: "#{'50' if display_avatar(current_user).is_a?(String) }"), current_user %>
          <%= link_to image_tag("bell.svg", alt: "通知", width: "20px"), notifications_path %>
          <% if unchecked_notifications.any? %>
            <span>未読あり</span>
          <% end %>
          <%= link_to image_tag("mail.svg", alt: "DM", width: "20px"), rooms_path %>
          <%= link_to image_tag("search.svg", alt: "DM", width: "20px"), searches_icon_click_path, remote: true %>
          <%= link_to '新規投稿', new_post_path %>
          <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
        <% else %>
          <%= link_to 'ログイン', new_user_session_path %>
          <%= link_to 'サインアップ', new_user_registration_path %>
        <% end %>
      </nav>
    </header>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    
    <div id="search-area"></div>

    <%= yield %>

    <%= debug(params) if Rails.env.development? %>

  </body>
</html>
